<div ng-controller="detailsController">

	<div class="row background-homePage">
	<div class="col s2">.</div>
	<div class="col s8 z-depth-2 details-centerDiv">
		<div class="row header-Parent">
			<div class="col s6">
				<h2 class="app-title" ui-sref="Home">Food Findr</h2>
			</div>
			<div class="col s6 input-field search-Parent">
				<i class="fa fa-search prefix" aria-hidden="true"></i>
          		<input id="icon_prefix" type="text" class="validate">
          		<label for="icon_prefix">Search</label>
          	</div>
        </div>
        <div class="dvdr"></div>
		<div id="details"></div>
		
<!--PLACES OUTPUT-->
		<div class="row details-Parent">
			<h5 class="details-name">{{name}} <input-stars max="5" ng-model="rating" readonly="true"></input-stars></h5>
			<p><i class="fa fa-map-marker" aria-hidden="true"></i> {{address}}</p>
			<p><i class="fa fa-phone" aria-hidden="true"></i> {{phone}}</p>
			<div ng-repeat = "a in arr">
				<a 
					ui-sref="Directions({search: [{{a.lat}}, {{a.lng}}]})">Get Directions</a>
				</a>
			</div>
			<p id="output"></p>
			<div class="reviews-Parent" ng-repeat="r in reviews">
				<p>{{r.author_name}} | <em>{{r.time * 1000 | date:'MM-dd-yyyy @ h:mma'}}</em></p>
				<p></p>
				<p>{{r.text}}</p>
			</div>
		</div>
	</div>
	<div class="col s2">.</div>
</div>

</div>