<div ng-controller="detailsController">
	<div class="row background-homePage">
	<div class="col s2 blend">.</div>
	<div class="col s8 z-depth-2 details-centerDiv">
		<div class="row header-Parent">
			<div class="col s6 places-title">
				<h2 class="app-title" ui-sref="Home">Food Findr</h2>
			</div>
			<div class="col s6 input-field search-Parent">
<!--TEXT SEARCH-->
				<form>
					<i class="fa fa-search prefix" aria-hidden="true"></i>
          			<input
          				placeholder="Search..."
          				type="text" 
          				g-places-autocomplete options="autocompleteOptions" 
          				ng-model="search"/>
          			<input
          				class="waves-effect waves-light btn searchBtn" 
          				type="submit" 
          				value="Submit" 
          				ui-sref="Details({search: [search.geometry.access_points[0].location.lat, search.geometry.access_points[0].location.lng, search.place_id, search]})"/>
          		</form>
          	</div>
        </div>
        <div class="dvdr"></div>
<!--ADVANCED SEARCH-->
    <div class="row places-dropdown">
      <div class="input-field opt-field col s2">
        <select ng-model="data.types">
          <option value="" disabled selected>Food Type</option>
          <option value="Fast Food">Fast Food</option>
          <option value="Seafood">Seafood</option>
          <option value="Diner">Diner</option>
          <option value="BBQ">BBQ</option>
          <option value="Steakhouse">Steakhouse</option>
          <option value="Deli">Deli</option>
          <option value="Mexican">Mexican</option>
          <option value="Italian">Italian</option>
          <option value="Chinese">Chinese</option>
          <option value="Japanese">Japanese</option>
          <option value="Thai">Thai</option>
          <option value="Vietnamese">Vietnamese</option>
          <option value="Indian">Indian</option>
          <option value="Greek">Greek</option>
          <option value="Mediterranean">Mediterranean</option>
        </select>
      </div>
      <div class="input-field opt-field col s2">
        <select ng-model="data.distance">
          <option value="" disabled selected>Distance</option>
          <option value="1">1 Mile</option>
          <option value="2">2 Miles</option>
          <option value="3">3 Miles</option>
          <option value="4">4 Miles</option>
          <option value="5">5 Miles</option>
        </select>
      </div>
      <div class="col s2">
        <a
          ui-sref="Search({search: [data.types, data.distance]})" 
          class="waves-effect waves-light btn findBtn z-depth-0">Find</a>
      </div>
      <div class="col s6">.</div>
    </div>
<!--MAP-->
	<div id="details"></div>
<!--PLACES OUTPUT (IF COORDS EXISTS) -->
		<div ng-hide="textSearch" class="row details-Parent">
			<h5 class="details-name">{{name}} <input-stars max="5" ng-model="rating" readonly="true"></input-stars></h5>
			<p><i class="fa fa-map-marker" aria-hidden="true"></i> {{address}}</p>
			<p><i class="fa fa-phone" aria-hidden="true"></i> {{phone}}</p>
			<div ng-repeat = "a in arr">
				<a 
					ui-sref="Directions({search: [{{a.lat}}, {{a.lng}}]})">Get Directions
				</a>
			</div>
			<p id="output"></p>
			<div class="reviews-Parent" ng-repeat="r in reviews">
				<p>{{r.author_name}} | <em>{{r.time * 1000 | date:'MM-dd-yyyy @ h:mma'}}</em></p>
				<p>{{r.text}}</p>
			</div>
		</div>
<!--PLACES OUTPUT (IF NO COORDS) -->
		<div ng-repeat="d in desc" class="row places-Parent">
			<div 
				class="col s12" 
				ui-sref="Details({search: [d.geometry.location.lat(), d.geometry.location.lng(), d.place_id]})">
				<p class="places-name">{{d.name}}</p>
			</div>
		</div>
	</div>
	<div class="col s2 blend">.</div>
</div>

</div>
<script>
    jQuery(document).ready(function() {
        jQuery('select').material_select();
    });
</script>