<div ng-controller="directionsController">
	<div class="row">
		<div class="col l2 m0 s0 blend">.</div>
		<div class="col l8 m12 s12 z-depth-2 details-centerDiv">
			<div class="row header-Parent">
				<div class="col s6 places-title">
					<h2 class="app-title" ui-sref="Home">Food Findr</h2>
				</div>
				<div class="col l6 m6 s12 input-field search-Parent">
<!--TEXT SEARCH-->
				<form>
					<i class="fa fa-search prefix" aria-hidden="true"></i>
          			<input
          				placeholder="Search..."
          				type="text" 
          				g-places-autocomplete options="autocompleteOptions" 
          				ng-model="search"/>
          			<input
          				class="waves-effect waves-light btn searchBtn" 
          				type="submit" 
          				value="Submit" 
          				ui-sref="Details({search: [search.geometry.access_points[0].location.lat, search.geometry.access_points[0].location.lng, search.place_id, search]})"/>
        </form>
        </div>
        </div>
        <div class="dvdr hide-on-small-and-down"></div>
<!--ADVANCED SEARCH-->
        <div class="row spinnerSection" ng-hide="desc">
          <div class="col s12 center">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
            <span class="sr-only">GETTING DIRECTIONS...</span>
          </div>
        </div>
        <div class="row places-dropdown" ng-hide="!desc">
        <div class="col 12 m2 s4 input-field opt-field">
        <select ng-model="data.types">
          <option value="" disabled selected>Food Type</option>
          <option value="Fast Food">Fast Food</option>
          <option value="Seafood">Seafood</option>
          <option value="Diner">Diner</option>
          <option value="BBQ">BBQ</option>
          <option value="Steakhouse">Steakhouse</option>
          <option value="Deli">Deli</option>
          <option value="Mexican">Mexican</option>
          <option value="Italian">Italian</option>
          <option value="Chinese">Chinese</option>
          <option value="Japanese">Japanese</option>
          <option value="Thai">Thai</option>
          <option value="Vietnamese">Vietnamese</option>
          <option value="Indian">Indian</option>
          <option value="Greek">Greek</option>
          <option value="Mediterranean">Mediterranean</option>
        </select>
      </div>
      <div class="col 12 m2 s4 input-field opt-field">
        <select ng-model="data.distance">
          <option value="" disabled selected>Distance</option>
          <option value="1">1 Mile</option>
          <option value="2">2 Miles</option>
          <option value="3">3 Miles</option>
          <option value="4">4 Miles</option>
          <option value="5">5 Miles</option>
        </select>
      </div>
      <div class="col 12 m2 s4">
        <a
          ui-sref="Search({search: [data.types, data.distance]})" 
          class="waves-effect waves-light btn findBtn z-depth-0">Find</a>
      </div>
      <div class="col 16 m6 s0 darkBlend">.</div>
    </div>
<!--MAP-->
			<div id="map"></div>
<!--PLACES OUTPUT-->
			<div class="row directions-Parent">
				<h5 class="directions-name">Directions</h5>
				<span id="output"></span>
			</div>
		</div>
		<div class="col l2 m0 s0 blend">.</div>
	</div>
<!--CLOSING DIV-->
</div>
<script>
    jQuery(document).ready(function() {
        jQuery('select').material_select();
    });
</script>