<div ng-controller="homeController">

<div class="row background-homePage">
	<div class="col s2">.</div>
	<div class="col s8 z-depth-2 background-centerDiv">
		<div class="row header-Parent">
			<div class="col s6">
				<h2 class="title">Food Findr</h2>
			</div>
			<div class="col s6 input-field search-Parent">
				<i class="fa fa-search prefix" aria-hidden="true"></i>
          		<input id="icon_prefix" type="text" class="validate">
          		<label for="icon_prefix">Search</label>
          	</div>
        </div>
        <div class="dvdr"></div>
		<div id="map"></div>
<!--PLACES OUTPUT-->
		<div ng-repeat="d in desc" class="row places-Parent z-depth-1 hoverable">
			<div 
				class="col s12" 
				ui-sref="Details({search: [d.geometry.location.lat(), d.geometry.location.lng(), d.place_id]})">
				<h6><b>{{d.name}}</b> - {{d.vicinity}}</h6>
			</div>
		</div>
	</div>
	<div class="col s2">.</div>
</div>

<!--CLOSING DIV-->
</div>