<div ng-controller="homeController">

<div class="row background-homePage">
	<div class="col s2">.</div>
	<div class="col s8 z-depth-2 places-centerDiv">
		<div class="row header-Parent">
			<div class="col s6">
				<h2 class="app-title">Food Findr</h2>
			</div>
			<div class="col s6 input-field search-Parent">
				<form>
					<i class="fa fa-search prefix" aria-hidden="true"></i>
          			<input
          				type="text" 
          				g-places-autocomplete options="autocompleteOptions" 
          				ng-model="search"/>
          			<input
          				class="waves-effect waves-light btn searchBtn" 
          				type="submit" 
          				value="Submit" 
          				ui-sref="Details({search: [search.geometry.access_points[0].location.lat, search.geometry.access_points[0].location.lng, search.place_id, search]})"/>
          		</form>
          	</div>
        </div>
        <div class="dvdr"></div>
		<div id="map"></div>
<!--PLACES OUTPUT-->
		<div ng-repeat="d in desc" class="row places-Parent">
			<div 
				class="col s12" 
				ui-sref="Details({search: [d.geometry.location.lat(), d.geometry.location.lng(), d.place_id]})">
				<p class="places-name">{{d.name}}</p>
			</div>
		</div>
	</div>
	<div class="col s2">.</div>
</div>

<!--CLOSING DIV-->
</div>