<div ng-controller="searchController">
  <div class="row">
    <div class="col l2 m0 s0 blend">.</div>
	  <div class="col l8 m12 s12 z-depth-2 places-centerDiv">
		<div class="row header-Parent">
			<div class="col s6 places-title">
				<h2 ui-sref="Home" class="app-title">Food Findr</h2>
			</div>
			<div class="col l6 m6 s12 input-field search-Parent">
<!--TEXT SEARCH-->
				<form>
					<i class="fa fa-search prefix" aria-hidden="true"></i>
          	<input
          		placeholder="Search..."
          		type="text" 
          		g-places-autocomplete options="autocompleteOptions" 
          		ng-model="search"/>
          	<input
          		class="waves-effect waves-light btn searchBtn" 
          		type="submit" 
          		value="Submit" 
          		ui-sref="Details({search: [search.geometry.access_points[0].location.lat, search.geometry.access_points[0].location.lng, search.place_id, search]})"/>
        </form>
      </div>
    </div>
    <div class="dvdr hide-on-small-and-down"></div>
<!--ADVANCED SEARCH-->
    <div class="row spinnerSection" ng-hide="desc || err">
      <div class="col s12 center">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
        <span class="sr-only">FINDING FOOD...</span>
      </div>
    </div>

    <div ng-show="err" class="center">
      <p class="errorMessage">{{err}}</p>
    </div>

    <div class="row places-dropdown" ng-hide="!desc">
      <div class="col 12 m2 s4 input-field opt-field">
        <select 
          ng-model="type"
          ng-options="type.name for type in types track by type.name">
          <option ng-model="type" disabled selected>{{type.name}}</option>
          <option ng-model="type">Fast Food</option>
          <option ng-model="type">Seafood</option>
          <option ng-model="type">Diner</option>
          <option ng-model="type">BBQ</option>
          <option ng-model="type">Steakhouse</option>
          <option ng-model="type">Deli</option>
          <option ng-model="type">Mexican</option>
          <option ng-model="type">Italian</option>
          <option ng-model="type">Chinese</option>
          <option ng-model="type">Japanese</option>
          <option ng-model="type">Thai</option>
          <option ng-model="type">Vietnamese</option>
          <option ng-model="type">Indian</option>
          <option ng-model="type">Greek</option>
          <option ng-model="type">Mediterranean</option>
        </select>
      </div>
      <div class="col 12 m2 s4 input-field opt-field">
        <select 
          ng-model="item"
          ng-options="item.name for item in items track by item.name">
          <option ng-model="item" disabled selected>{{item.name}}</option>
          <option ng-model="item">1 Mile</option>
          <option ng-model="item">2 Miles</option>
          <option ng-model="item">3 Miles</option>
          <option ng-model="item">4 Miles</option>
          <option ng-model="item">5 Miles</option>
        </select>
      </div>
      <div class="col 12 m2 s4">
        <a
          ui-sref="Search({search: [type.name, item.name]})" 
          class="waves-effect waves-light btn findBtn z-depth-0">Find</a>
      </div>
      <div class="col 16 m6 s0">.</div>
    </div>
<!--MAP-->
		<div id="map"></div>
<!--PLACES OUTPUT-->
    <p class="places-info">Food Results</p>
		<div ng-repeat="d in desc" class="row places-Parent">
			<div 
				class="col s12 places-detailsBtn" 
				ui-sref="Details({search: [d.geometry.location.lat(), d.geometry.location.lng(), d.place_id]})">
        <p class="places-name">{{d.name}}</p>
			</div>
		</div>
<!--FOOTER-->
    <div class="row footer">
      <div class="col s12 places-footer center">
        <p>@2016 Food Findr</p>
      </div>
    </div>
	</div>
	<div class="col l2 m0 s0 blend">.</div>
</div>
<!--CLOSING DIV-->
</div>

<script>
    jQuery(document).ready(function() {
        jQuery('select').material_select();
    });
</script>