<div ng-controller="searchController">
  <div class="row">
    <div class="col s2 blend">.</div>
	  <div class="col s8 z-depth-2 places-centerDiv">
		<div class="row header-Parent">
			<div class="col s6 places-title">
				<h2 ui-sref="Home" class="app-title">Food Findr</h2>
			</div>
			<div class="col s6 input-field search-Parent">
<!--TEXT SEARCH-->
				<form>
					<i class="fa fa-search prefix" aria-hidden="true"></i>
          	<input
          		placeholder="Search..."
          		type="text" 
          		g-places-autocomplete options="autocompleteOptions" 
          		ng-model="search"/>
          	<input
          		class="waves-effect waves-light btn searchBtn" 
          		type="submit" 
          		value="Submit" 
          		ui-sref="Details({search: [search.geometry.access_points[0].location.lat, search.geometry.access_points[0].location.lng, search.place_id, search]})"/>
        </form>
      </div>
    </div>
    <div class="dvdr"></div>
<!--ADVANCED SEARCH-->
    <div class="row places-dropdown">
      <div class="col s3">
        <select ng-model="types" class="browser-default">
          <option value="" disabled selected>Food Type</option>
          <option value="Fast Food">Fast Food</option>
          <option value="Diner">Diner</option>
          <option value="Mexican">Mexican</option>
          <option value="BBQ">BBQ</option>
          <option value="Chinese">Chinese</option>
          <option value="Sushi">Sushi</option>
          <option value="Indian">Indian</option>
        </select>
      </div>
      <div class="col s3">
        <select 
          ng-model="item"
          ng-options="item.name for item in items track by item.name"
          class="browser-default">
          <option value="" disabled selected>Distance</option>
          <option value="1">1 Mile</option>
          <option value="2">2 Miles</option>
          <option value="3">3 Miles</option>
          <option value="4">4 Miles</option>
          <option value="5">5 Miles</option>
        </select>
      </div>
      <div class="col s3">
        <a
          ui-sref="Details({search: [data.types, data.distance]})" 
          class="waves-effect waves-light btn findBtn z-depth-0">Find</a>
      </div>
      <div class="col s1">.</div>
    </div>
<!--MAP-->
		<div id="map"></div>
<!--PLACES OUTPUT-->
    <p class="places-info">Food Results</p>
		<div ng-repeat="d in desc" class="row places-Parent">
			<div 
				class="col s12 places-detailsBtn" 
				ui-sref="Details({search: [d.geometry.location.lat(), d.geometry.location.lng(), d.place_id]})">
        <p class="places-name">{{d.name}}</p>
			</div>
		</div>
<!--FOOTER-->
    <div class="row footer">
      <div class="col s12 places-footer center">
        <p>@2016 Food Findr</p>
      </div>
    </div>
	</div>
	<div class="col s2 blend">.</div>
</div>
<!--CLOSING DIV-->
</div>