
/*HOME*/
html { 
  background: url('/public/images/burger.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.blend{
	color: #cccccc !important;
	height: 1px;
}
.darkBlend{
	color: #333333;
}
.places-centerDiv{
	border-radius: 10px;
	background: #333333;
}
@media only screen and (max-width: 400px) {
	.places-centerDiv{
	border-radius: 0px;
	background: #333333;
	padding-right: 0px !important;
	padding-left: 0px !important;
	}
}
.header-Parent{
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
}
.searchBtn{
	height: 0px;
	background-color: #333333;
	padding: 0px 0px 0px 0px;
	border-color: 1px solid #333333;
}
.places-title{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.app-title{
	font-family: 'Pacifico', cursive;
	color: #fff;
	cursor: pointer;
}
@media only screen and (max-width: 400px) {
	.app-title{
	display: none;
	}
}
.search-Parent{
	margin-top: 35px;
	padding-right: 0px !important;
	color: #fff;
}
@media only screen and (max-width: 400px) {
	.search-Parent{
	margin-top: 25px;
	padding-right: 0px !important;
	color: #fff;
	}
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #cccccc;
    box-shadow: 0 1px 0 0 #fff;
}
.input-field .icon_prefix.active {
	color: #fff;
}
.input-field .prefix.active {
	color: #fff;
}
.dvdr{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 3px;
	background-color: #ffff66;
}
.spinnerSection{
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
}
.errorMessage{
	color: #fff;
	margin-top: 30px;
	margin-bottom: 30px;
}
.places-dropdown{
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 0px;
}
.@media only screen and (max-width: 400px) {
	.places-dropdown{
	margin-left: 10px;
	margin-bottom: 0px !important;
	margin-top: 0px;
	}
}
.dropdown-content li > a, .dropdown-content li > span {
    font-size: 1.2rem;
    color: #000000;
    display: block;
    padding: 1rem 1rem;
}
.opt-field{
	margin-top: 0px;
	color: #fff;
}
#map {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 50%;
	border-radius: 5px;
}
@media only screen and (max-width: 400px) {
	#map {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	height: 35%;
	border-radius: 0px;
	}
}
.findBtn{
	margin-top: 5px;
	background-color: #333333;
	border: 1px solid #666666;
	width: 100%;
	height: 40px;
}
.findBtn:hover{
	margin-top: 5px;
	background-color: #fff;
	border: 1px solid #333333;
	width: 100%;
	height: 40px;
	color: #000;
	font-weight: bold;
}
.places-Parent{
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	border-top: 1px solid #cccccc;
	padding: 15px 0px 15px 0px;
	cursor: pointer;
	color: #fff;
}
.places-Parent:hover{
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	border-top: 1px solid #cccccc;
	padding: 15px 5px 15px 5px;
	cursor: pointer;
	color: #000000;
	background-color: #eeeeee;
}
.places-info{
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 20px;
	color: #fff;
	font-size: 30px;
}
.places-detailsBtn{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.places-name{
	margin-top: 0px;
	margin-bottom: 0px;
}
.places-vicinity{
	font-size: 12px;
	margin-bottom: 0px;
}
.footer{
	margin-left: 20px;
	margin-right: 20px;
	border-top: 1px solid #cccccc;
	color: #fff;
}
.places-footer{
	padding-top: 20px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	font-weight: lighter;
}
/*DETAILS*/
.details-centerDiv{
	border-radius: 10px;
	background: #333333;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 100vh;
}
@media only screen and (max-width: 400px) {
	.details-centerDiv{
	border-radius: 0px;
	background: #333333;
	padding-right: 0px !important;
	padding-left: 0px !important;
	}
}
#details{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 50%;
	border-radius: 5px;
}
@media only screen and (max-width: 400px) {
	#details {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	height: 35%;
	border-radius: 0px;
	}
}
.details-Parent{
	margin-top: 10px;
	border-top: #eeeeee;
	border-bottom: #eeeeee;
	padding: 15px 15px 15px 15px;
	color: #fff;
}
.details-name{
	margin-bottom: 0px;
	border-bottom: 1px solid #cccccc;
}
/*DIRECTIONS*/
.directions-Parent{
	margin-top: 10px;
	border-top: #eeeeee;
	border-bottom: #eeeeee;
	padding: 15px 15px 15px 15px;
	color: #f2f2f2;
}
.directions-name{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
}
/*REVIEWS*/
.reviews-Parent{
	border-top: 1px solid #eeeeee;
	color: #cccccc;
}